<div class="profile-container" *ngIf="user">
    <h2>Your Profile</h2>
  
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <label>
        Name:
        <input formControlName="name" />
      </label>
      <div *ngIf="profileForm.get('name')?.invalid && profileForm.get('name')?.touched" class="error">
        Name is required.
      </div>
  
      <label>
        Email:
        <input formControlName="email" />
      </label>
      <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="error">
        Valid email is required.
      </div>
  
      <label>
        Role:
        <input formControlName="role" />
      </label>
      
  
      <button type="submit" [disabled]="profileForm.invalid">Update Profile</button>
    </form>
  </div>
  